body{
    margin: 0 auto;
    /* background-image: url("../img/bg.png"); */
    background-repeat: no-repeat;
    background-size:  100% 720px;
}
.container {
    width: 500px;
    height: 400px;
    text-align:center;
    background-color: rgb(51, 73, 94,0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}
.container.img{
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom:30px;
}
input[type="text"], input[type="password"]{
    height:45px;
    width:300px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 40px;
}
.form-input ::before{
    padding-left:5px;
    cursor: pointer;
    content: "\f007";
    position: absolute;
    font-family:"FontAwesome";
    color: #9b59b6;
   
    padding-top: 7px;
    font-size: 35px;
}
.form-input :nth-child(2)::before{
    content: "\f023";
}
.btn-signin{
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px;
    background-color: #2ECC71;
    border-bottom:  4px solid #271a60;
    margin-bottom: 20px;
}
a{
    color:#C8B9B9
}